form div.error {
    font-size: 0.6em;
    text-align: left;
    color: #f14141;
    text-shadow: 1px 1px 0.5em black;
    padding: .5em;
    background-color: rgba(0,0,0,.3);
    border-radius: 8px;
    margin-top: .5em;
}